name: Linting

on:
  push:
    branches:
      - master
    tags-ignore: ['**']
  pull_request:

jobs: # Docs: <https://git.io/JvxXE>
  gitleaks:
    name: Gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with: {fetch-depth: 0}

      - uses: gitleaks/gitleaks-action@v2 # Action page: <https://github.com/gitleaks/gitleaks-action>
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  golangci-lint:
    name: Golang-CI (lint)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with: {fetch-depth: 0}
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: false

      - name: Go test
        run: go test *.go -v

      - name: Run linter
        uses: golangci/golangci-lint-action@v9.1.0 # Action page: <https://github.com/golangci/golangci-lint-action>
        with:
          only-new-issues: false # show only new issues if it's a pull request
          args: --timeout 4m # the default of 1m didn't suffice occasionally
